body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #222222;
}
/*################ HEADER ############*/
header {
    position: relative;
    height: 100vh;
    background: #111111;
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

.header-top {
    display: flex;
    font-family: Latto, sans-serif;
    font-weight: 700;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-top: 54px;
}

.header-top .logo {
    font-size: 24px;
}

.header-top a {
    color: #fff;
}

header .top-menu-item {
    list-style: none;
    margin-left: 33px;
    text-decoration: none;
}

.header-top-menu {
    display: flex;
    padding: 0;
    margin: 0;
}
header .header-top-menu li a {
    position: relative;
    padding: 0 5px;
}
header .header-top-menu li a:before{
    content: "";
    position: absolute;
    width: 50%;
    right: 0;
    height: 2px;
    background: #fcac45;
    bottom: -5px;
    transform: scale(0);
    transition: 0.5s;
}
header .header-top-menu li a:hover:before{
    transform: scale(1);
}
header .header-top-menu li a:after{
    content: "";
    position: absolute;
    width: 50%;
    left: 0;
    height: 2px;
    background: #6c6c6c;
    bottom: -5px;
    transform: scale(0);
    transition: 0.5s;
}
header .header-top-menu li a:hover:after{
    transform: scale(1);
}
.content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
}

.content .content-title {
    font-size: 44px;
    font-weight: 300;
    color: #999999;
    text-transform: uppercase;
}

.content .content-title span {
    color: #fcac45;
    font-weight: 700;
}

.content .content-description {
    font-size: 20px;
    color: #fff;
    line-height: 1;
}

header .btn {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 27px);
    width: 50px;
    height: 50px;
    border: 2px solid #999999;
    border-radius: 50%;
}

header .btn .bottom-btn {
    width: 20px;
    height: 30px;
    display: inline-block;
    background: url("../img/arrow.png") no-repeat center;
    margin: auto;
}
.mobile-btn{
    width: 45px;
    height: 40px;
    align-items: center;
    display: none;
}
.mobile-btn span {
    display: inline-block;
    width: 100%;
    height: 3px;
    background: #fcac45;
    position: relative;
}
.mobile-btn span:before, .mobile-btn span:after {
    content: "";
    display: inline-block;
    background: #fcac45;
    width: 100%;
    position: absolute;
    height: 100%;
}
.mobile-btn span:before{
    transform: translateY(-10px);
}
.mobile-btn span:after{
   transform: translateY(10px);
}
.show-menu li{
margin-top: 20px;
}
.show span{
    background: transparent;
}
.show span:before{
    transform: translateY(0) rotate(-45deg);
}
.show span:after{
    transform: translateY(0) rotate(45deg);
}
/*################### HEADER ############*/
/* ################## ABOUT #############*/
#about {
    padding: 100px 0 100px;
}

.about-subtitle {
    font-size: 20px;
    text-transform: uppercase;
    color: #636363;
    margin-bottom: 15px;
}
.mac{
    width: 145%;
    margin-left: -60px;
    padding: 5px 0 0;
}
.about-title {
    font-size: 34px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.about-content .about-title span.some{
    position: relative;
}
.about-content .about-title span.some:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fcac45;
    bottom: -10px;
}
.about-description {
    font-size: 18px;
    color: #6c6c6c;
    margin-bottom: 45px;
}

.about-list {
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 50px;
    list-style: none;
    padding-left: 0;
}
.about-list li{
    margin-bottom: 20px;
}
.about-list span {
    font-style: normal;
    font-weight: 700;
}

.about-content .button {
    font-size: 12px;
    color: #616161;
    border: 1px solid #7f7f7f;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 15px 29px;
}

.btn-icon {
    margin-right: 10px;
    margin-bottom: 5px;
}

.title {
    position: relative;
    font-size: 44px;
    text-align: center;
    font-weight: 300;
}

.title:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background: #fcac45;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: auto;

}

.title:after {
    content: "";
    position: absolute;
    width: 65px;
    height: 5px;
    background: #d29136;
    bottom: -40px;
    left: 0;
    right: 0;
    margin: auto;

}

.top-title {
    color: #999999;
    font-size: 4.4rem;
}

.top-title span {
    color: #fcac45;
}

.top-description {
    font-size: 2rem;
    color: #fff;
}
#about svg {
    margin-right: 10px;
}
/*################## ABOUT ################*/
/*################## TEAM #################*/
#team {
    background: #070707;
    color: #fff;
    padding: 90px 0 150px;
    text-align: center;
}

#team .title {
    font-size: 44px;
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 140px;
    color: #fff;
}

.title span {
    font-weight: 700;
}

.team-item img {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.team-member {
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.member-spec {
    font-size: 16px;
    margin-bottom: 35px;
}

.member-description {
    margin-top: 35px;
    font-size: 14px;
}
/*################# TEAM ##############*/
/* ################ SERVICES ############*/
#services {
    text-align: center;
    padding: 90px 0;
}

.section-description {
    color: #6c6c6c;
    margin-top: 60px;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 100px;
}

#services .title {
    font-size: 44px;
    color: #222222;
    text-transform: uppercase;
}
.svg{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
    border: 4px solid #fcac45;
    border-radius: 50%;
    width: 128px;
    height: 128px;
}
#services .col-lg-3 h4{
    text-transform: uppercase;
    font-weight: 700;
}
/* ################ SERVICES ############*/
/* ################ CLIENTS #############*/
#clients {
    text-align: center;
    padding: 90px 0 180px;
    background: #000;
}

#clients .title {
    text-transform: uppercase;
    font-size: 44px;
    color: #fff;
    font-weight: normal;
    margin-bottom: 100px;
}

.clients-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    padding-top: 140px;
    margin: 0;
}

/* ################ CLIENTS #############*/
/*################ WORK #################*/
#work {
    text-align: center;
    background: #fff;
    padding: 90px 0;
}

.title {
    color: #000;
    font-size: 44px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.work-description {
    color: #6c6c6c;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 18px;
    margin: 60px 0 25px;
}
.filter-type{
    text-transform: uppercase;
    color: #222222;
}
.filter-list li {
    display: inline-block;
    font-weight: 300;
}

.filter-list li a.active{
    font-weight: 700;
    color: #000;
}
.filter-list li span {
    display: inline-block;
    height: 10px;
    width: 1px;
    background: #6c6c6c;
    margin: 0 10px;
}

.filter-list li:after {
    content: " | ";
    margin-left: 10px;
}

.filter-list li:last-child:after {
    content: "";
    margin: 0;
}

.filter-list li a {
    color: #6c6c6c;
}

.portfolio-item {
    height: 238px;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
}

.hover-text {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: -239px;
    background: #222;
    color: #fff;
    transition: all 0.6s;
    padding: 25% 0;
}

.portfolio-item:hover .hover-text {
    bottom: 0;
}

.portfolio-item i {
    height: 30px;
    width: 30px;
    border: 1px solid #fcac45;
    font-size: 20px;
    padding: 5px;
    border-radius: 50%;
    color: #fcac45;
}
/*################ WORK #################*/
/*################ TESTIMONIALS #########*/
#testimonials{
    text-align: center;
    background: #000;
    padding: 90px 0 170px;
}
#testimonials .title{
    font-size: 44px;
    color: #fff;
    margin-bottom: 100px;
}
.title-description{
    font-size: 18px;
    text-transform: uppercase;
    color: #e7e7e7;
    margin-bottom: 50px;
}
.testimonials-info{
    color: #b2b2b2;
}
/*################ TESTIMONIALS #########*/
/*################ CONTACT ##############*/
#contact{
    background: #fff;
    padding: 90px 0;
}
#contact .title{
    text-align: center;
    font-size: 44px;
    color: #000;
    margin-bottom: 100px;
}
.contact-description{
    text-align: center;
    font-style: italic;
    font-size: 16px;
    color: #6c6c6c;
    margin-bottom: 100px;
}
form label{
    color: #636363;
    margin-top: 30px;
}
form span{
    color: #db0000;
}
.send-btn{
    float: right;
    background: #fcac45;
    padding: 8px 62px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
    border: none;
}
/*################ CONTACT ##############*/
/*################ FOOTER ###############*/
footer{
    background: #222222;
    padding: 40px 0 40px;
}
.footer-description{
    color: #787878;
}

.footer-item li{
    list-style: none;
    float: right;
    color: #6c6c6c;
    margin-right: 12px;
}
.footer-item li a{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid #6c6c6c;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
/*################ FOOTER ###############*/
